<section class="section_contact">

  <style type="text/css">
    /*this line only works in this style tag, but not when written the same exact way in main.css.
    BUT this line needs to be present in main.css otherwise the other elements dont work... wtf... not swag... ahm pissed*/
    .swag {padding-left: 50px;}
  </style>

  <div class="row">
    <!-- desktop only -->
    <div class="six columns contact-info">
      <h3 id="contactus">Contact Us</h3>

      <a href="mailto:aaa.uiuc@gmail.com" target="new">
      <div class="row">
        <div class="three columns">
          <img src="img/contact/email5.png">
        </div>
        <div class="nine columns swag" style="margin-top:15px">
          <h3>aaa.uiuc@gmail.com</h3>
        </div>
      </div>
      </a>

      <div class="row">
        <div class="three columns">
          <img src="img/contact/location.png">
          <div class="contact-info-mobile">
          </div>
        </div>
        <div class="nine columns swag">
          <h3 style="margin-top:7px">Illini Union 280 <br>
          (Student Organization Complex) <br>
          #256</h3>
        </div>
      </div>

      <a href="/board">
        <div class="row">
          <div class="three columns">
            <img src="img/contact/boardmember.png">
          </div>
          <div class="nine columns swag" style="margin-top:15px">
            <h3>Contact A Board Member</h3>
          </div>
        </div>
      </a>
    </div>
    <!-- end desktop only -->

    <!-- mobile -->
    <div class="six columns">
        <h3 id="contactus" class="contact-info-mobile">Contact Us</h3>

        <a href="mailto:aaauiuc@gmail.com" target="new">
        <div class="contact-info-mobile cims">
          <img src="img/contact/email5.png">
          <h3>aaauiuc@gmail.com</h3>
        </div>
        </a>

        <div class="contact-info-mobile cims">
          <img src="img/contact/location.png">
          <h3 id="rso">Illini Union 280 <br>
            (RSO Complex) <br>
            #256</h3>
        </div>

        <a href="board.html">
        <div class="contact-info-mobile cims">
          <img src="img/contact/boardmember.png">
          <h3>Contact A Board Member</h3>
        </div>
        </a>

        <div class="cmb"></div>

    </div>
    <!-- end mobile -->

    <div class="six columns">
      <h3>Where is the AAA office you ask?</h3>
      <!-- <iframe id="contactyt" src="https://www.youtube.com/embed/Lf_eRgbhQ1M" frameborder="0" allowfullscreen></iframe> -->
      <iframe src="http://www.staggeringbeauty.com/" style="border: 1px inset #ddd" width="498" height="498"></iframe>
      <!-- <img src="img/filler.png"> -->

      <div class="cmb"></div>
    </div>

  </div>

  <div class="row" id="cmaps">

    <div class="six columns">
      <h3>From Our Very Own Cartographer Tim Chen</h3>
      <div>
        <h5>First Floor</h5>
        <a href="img/contact/map1.jpg" data-lightbox="timchenmaps" data-title="First Floor"><img src="img/contact/map1.jpg" width="450"></a>
        <h5>Second Floor</h5>
        <a href="img/contact/map2.jpg" data-lightbox="timchenmaps" data-title="Second Floor"><img src="img/contact/map2.jpg" width="450"></a>
        <a href="img/contact/hinthint.png" data-lightbox="timchenmaps" data-title="Hey look! It's a hint!"></a>
      </div>
      <div class="cmb"></div>
    </div>

    <div class="six columns">
      <h3>Where To Find Us</h3>
      <iframe id="contactmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3051.458300136285!2d-88.227261!3d40.10978899999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd0eb0df454b5%3A0xe7ba4e7c081a6483!2sIllini+Union!5e0!3m2!1sen!2sus!4v1402008493056" frameborder="0" style="border:0"></iframe>
    </div>

  </div>

</section>